body {
  background-color: #c7f0db;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
#filtr {
  margin: 2%;
  padding: 10px;
}


.book {
    border: 1px solid #e9d5d5;
    width: 20%;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#slide1 {
  background-color: #8bbabb;
}

#slide2 {
  background-color: #6c7b95;
}
#slide3 {
  background-color: #8bbabb;
}
#slide4 {
  background-color: #6c7b95;
}
